@model List<Progra_web_3_Tp_final.Models.Articulo>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/articulos.css" />
<script src="~/js/articulos.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<div class="text-center">
    <div class="articulos-filters mb-4">
        <input type="text" class="form-control col-lg-3" id="buscar_articulo" placeholder="Nombre Artículo">
        <input type="text" class="form-control col-lg-3" id="buscar_codigo" placeholder="Código">
        <div class="form-group form-check col-lg-3">
            <label class="form-check-label col-lg-9" for="excluir_eliminados">Excluir eliminados</label>
            <input type="checkbox" class="form-check-input" id="excluir_eliminados">
        </div>
        <form action="../../Articulos/NuevoArticulo" method="post">
            <button type="submit" class="btn btn-success">Nuevo Artículo</button>
        </form>
    </div>
    <div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var art in Model)
                {
               <tr>
                    <td>@art.Descripcion</td>
                    <td>@art.Codigo</td>
                    <td>@art.Codigo</td>
                    <td>@art.Codigo</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
