@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pedidos.css" />
<script src="~/js/pedidos.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<div class="text-center">
    <div class="pedidos-filters">
        <form action="../../Pedidos/NuevoPedido" method="post">
            <button type="submit" class="btn btn-success">Nuevo Pedido</button>
        </form>
        <div class="filtros">
            <select aria-label="Default select example">
                <option selected>Cliente</option>
                <option value="1">Cliente 1</option>
                <option value="2">Cliente 2</option>
                <option value="3">Cliente 3</option>
            </select>
            <select aria-label="Default select example">
                <option selected>Estado</option>
                <option value="1">Estado 1</option>
                <option value="2">Estado 2</option>
                <option value="3">Estado 3</option>
            </select>
            <div class="form-group form-check col-lg-5">
                <label class="form-check-label col-lg-7" for="excluir_eliminados">Solo últimos 2 meses</label>
                <input type="checkbox" class="form-check-input" id="excluir_eliminados">
                <label class="form-check-label col-lg-7" for="excluir_eliminados">Excluir eliminados</label>
                <input type="checkbox" class="form-check-input" id="excluir_eliminados">
                </div>
            </div>
        </div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Estado</th>
                    <th>Ult Modificacion</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                <tr>
                    <td>Sanitarios Rodriguez - #20</td>
                    <td>Abierto</td>
                    <td>Hace 2 minutos (Damian)</td>
                    <td><a href="#">Ver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
   
