@model List<Progra_web_3_Tp_final.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/usuarios.css" />
<script src="~/js/usuarios.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    
<div class="text-center mb-4">
    <h1 class="display-4">Ingresar</h1>
    <form action="../../Ingresar/ValidarContraseña" method="post">
        <input type="text" class="form-control m-2" id="ingresar_email" onkeyup="filtro_email()" placeholder="Email">
        <input type="password" class="form-control m-2" id="ingresar_password" onkeyup="filtro_password()" placeholder="Contraseña">
        <button type="submit" class="btn btn-success m-2" onclick="crear()">Ingresar</button>

    </form>


</div>
