.pedidos-filters {
    display: flex;
    justify-content: space-between;
}

.pedidos-filters button{
    height:50px;
    margin-left:900px;
    border-radius:10px;
    width:150px;
}


.filtros{
    margin-top:100px;
    width:1110px;
    position:absolute;
}

.filtros select{
    width:230px;
    float:left;
    margin-right:10px;
}

.filtros .form-group {
        margin-left: 700px;
    }

/*Nuevo pedido*/
.nuevoPedidos-filters {
    display: flex;
    justify-content: space-between;
}
.selectCliente {
    width: 1110px;
    position: absolute;
}

    .selectCliente select {
        width: 230px;
        float: left;
        margin-right: 10px;
    }
.selectDescripcion {
    margin-top: 50px;
    display: flex;
}

.selectCliente form{
    margin-left: 30px;
}

.selectCliente .form-group {
    margin-left: 700px;
}

nuevoPedidos-filters button {
    height: 50px;
    border-radius: 10px;
    width: 150px;
}

#example {
    margin-top: 250px;
}

#example_wrapper {
    margin-top: 100px;
}

.cajaComentarios {
    width: 1500px;
    height: 302px;
}

    .cajaComentarios label {
        position: absolute;
    }

    .cajaComentarios textarea {
        margin-top: 30px;
        margin-right: 1500px;
    }

.botonesFinal{
    display:flex;
}

.botonesFinal button{
    margin: 10px;
}