.pedidos-filters {
    display: flex;
    justify-content: space-between;
}

.pedidos-filters button{
    height:50px;
    margin-left:900px;
    border-radius:10px;
    width:150px;
}


.filtros{
    margin-top:100px;
    width:1110px;
    position:absolute;
}

.filtros select{
    width:230px;
    float:left;
    margin-right:10px;
}

.filtros .form-group {
        margin-left: 700px;
    }



#example{
    margin-top: 120px;
}